  .container {
    width:18%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding:20px 40px;
   
}

  .title{
      align-self: center;
       font: size 18px;
       font-weight: bold;

  }

  .price{
      align-self: center;
    font: size 18px;
    font-weight: bold;

  }

  .desc{

    text-align: center;
  }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  
    .title {
      font-size: 30px;
    }
  
    .price,
    .desc {
      font-size: 24px;
    }
  }